* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/***************************
****************************
When you set box-sizing: border-box; on an element, the
padding and border of that element no longer increase its width.
****************************
***************************/
